
body{
    font-family: Helvettica, sans-serif;
    background-color: lightgray;
/*    height: 100vh;*/
    margin: 0;
}

h2{
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
}

#main{
    margin: 0 10%;
    background-color: antiquewhite;
    min-height: 736px;
    padding: 15px 10px;
    overflow: hidden;
    background-image: url(cork-board2.jpg);
    background-size: 40%;
    background-repeat: repeat;
}

.sticky-note {
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;
    background-image: url(sticky-note.png);
    background-position: -10px -10px;
    background-size: 110%;
    text-align: center;
    line-height: 200px;
}

.sticky-note h4 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    transform: rotate(-3deg);
    color: red;
}

.sticky-note:hover {
    cursor: pointer;
    filter: saturate(50%);
}

#add {
    font-size: 70px;
}

#popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(100, 100, 100, .6);
    left: 0;
}

#popupcontent {
    width: 300px;
    margin: auto;
    background-color: whitesmoke;
    height: 400px;
    margin-top: 20px;
}

#popupcontent #name {
    text-align: center;
    display: block;
    margin: auto;
}

#popupcontent .tasks {
    height: 90%;
    overflow-y: scroll;
}

.tasks ul {
    list-style: none;
    margin: 0;
}

.tasks h6 {
    margin: 5px;
    padding-left: 20px;
}

.tasks ul li > span {
    margin-left: 10px;
}

.tasks ul li > span:hover {
    cursor: pointer;
}

.tasks ul:nth-of-type(2) li > span:first-of-type {
    text-decoration: line-through;
}

.tasks > div {
    text-align: center;
}